{% extends "base.html" %}

{% block content %}

<div class="content">
  <section>
    {{post.render() | safe}}
  </section>

  <section class="blog-comment-form">
    <h3>Post comment</h3>

    <form method="post">
      <label>
        <textarea class=".blog-comment" name="comment">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  </section>

  <section>
    <h2>Comments</h2>
    <br>
    {% for c in comments %}

        {{ c.render() | safe }}

    {% endfor %}
  </section>
</div>

{% endblock %}
