{% extends "base.html" %}

{% block content %}

<div class="content">
  <section>
    {{post.render() | safe}}
  </section>

  <section class="blog-comment-form">
    <h3>Post comment</h3>

    <form method="post">
      <label>
        <textarea class=".blog-comment-textarea" name="comment">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
  </section>

  <section>
    <h2>Comments</h2>
    <br>
    {% for c in comments %}

        {{ c.render() | safe }}
        
        {% if user.name == c.author %}
          <div class="blog-comment-button">
              <a href="{{ '/blog/editcomment?comment=%s&post=%s' % (c.key().id(), c.post_key) }}" class="button-edit">
                Edit
              </a>
              <a href="{{ '/blog/deletecomment?comment=%s&post=%s' % (c.key().id(), c.post_key) }}" class="button-delete">
                Delete
              </a>
          </div>
        {% else %}
        <!--blank-->
        {% endif %}
    {% endfor %}
  </section>
</div>

{% endblock %}
