{% extends "base.html" %}

{% block content %}
  <div class="blog-content">
      {% if user %}
        <a class="login-link" href="/blog/newpost" class="blog-left">New Post</a>
      {% else %}
        <!--blank-->
      {% endif %}
      <div class="blog-right">
        {% if user %}
          {{user.name}} (<a class="login-link" href="/log">Unlike</a>)
        {% else %}
          <a class="login-link" href="/blog">Like</a>
        {% endif %}
      </div>
  </div>
  {% for p in posts %}
    
    <a href="{{ '/blog/details/%s' % p.key().id() }}" class="blog-link">

        {{ p.render() | safe }}
      
    </a>
    {% if user.name == p.author %}
    <div class="blog-content">
        <a href="{{ '/blog/editpost?post=%s' % p.key().id() }}" class="button-edit">
          Edit
        </a>
        <a href="{{ '/blog/deletepost?post=%s' % p.key().id() }}" class="button-delete">
          Delete
        </a>
    </div>
    {% else %}
          <!--blank-->
    {% endif %}
  {% endfor %}
      
{% endblock %}
